.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  grid-column: 2/6;
  gap: 10px;
  .coin-cart {
    width: 282px;
    height: 169px;
    position: relative;
    background: linear-gradient(57.63deg, #221d3e 2.16%, #5841da 97.84%);
    grid-column: 4/5;
    border-radius: 25px;
    overflow: hidden;
    margin-top: -25px;
    .circle {
      background: linear-gradient(89.99deg, #83a4f8 0%, #d302fd 99.97%);
    }
    .circle-top {
      position: absolute;
      top: 0;
      left: 79px;
      opacity: 0.53;
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }
    .circle-right {
      @include cart;
      top: -23px;
      right: -77px;
      width: 152px;
      height: 141px;
      transform: rotate(47deg);
    }
    .circle-bottom {
      @include cart;
      bottom: -50%;
      left: 20px;
    }
    .circle-left {
      @include cart;
      top: 2px;
      left: -69px;
    }
    .text-cart {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: 30px;
      flex-direction: column;
      color: white;
      filter: drop-shadow(2px 4px 6px black);
      .admin-name-cart {
        width: 100%;
        text-align: right;
        font-size: 12px;
        margin-top: -2px;
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 19px;
          margin-right: 43px;
          font-weight: 900;
          opacity: 1;
        }
    }
        .cart-short-number {
          font-style: normal;
          font-weight: 400;
          font-size: $font-14;
          line-height: 22px;
          opacity: 0.5;
          margin:6px 87px 0 0;
        }
      .cart-number {
        margin: 15px 43px 0 0;
        font-weight: 900;
        font-size: 18px;
      }
      .total {
        width: 100%;
        font-size: $font-14;
        display: flex;
        justify-content: space-evenly;
        margin-top: 23px;   
        :first-child{
            font-weight: 500;
            font-size: 12px;
            line-height: 19px;
            opacity: 0.5;
        }
        :last-child{
            font-weight: 500;
            font-size: 12px;
            margin-top: 4px;
          }
       }
    }
  }
  .coin-meet {
    width: 282px;
    height: 330px;
    background-color: gray;
    grid-column: 4/5;
    margin-top: -10px;
    grid-row: 3/5;
    @include box-main;
    position: relative;
    .title-meet{
      color:blue;
      margin: 15px 8px 0 0;
      font-size: 16px;
      font-weight: 900;
    }
    .img-meet{
       margin: 20px  105px 0 0;
     }
     .percend-meet{
      width: 210px;
      display: flex;
      margin-top: 20px;
      font-size: $font-14;
      margin-right: 32px;
      font-weight: 700;
      color:$link-color;
      justify-content: space-between;
      div{
        color: #292929;
        font-size: 18px;
        font-family: IRANSansWeb;
        font-weight: 900;

      }
      span{
        color: $title-color;

      }
     }
     .meet-bottom{
      @include flex-center;
      cursor: pointer;
      position: absolute;
      width: 282px;
      height: 40px;
      border-radius: 0 0 25px 25px;
      bottom: 0;
      right: 0;
       background-color:  #5841DA;
       color:white;
       transition: all 0.3s ease-in-out;
       &:hover{
         
         background-color:  #8977ec;
      }
      }
  }
}
