.sidebar {
  @include box-main;
  width: 100%;
  height: auto;
  grid-column: 1/2;
  .profile-sidebar {
    width: auto;
    height: 115px;
    margin-top: 0.8rem;
    margin-right: 11px;
    .profile {
      display: flex;
      .icon-profile {
        @include flex-center;
        width: 46px;
        height: 46px;
        background-color: #f0edff;
        border-radius: 5px;
        margin-left: 0.7rem;
        i {
          color: $icon-color;
          font-size: 23px;
        }
        :hover {
          cursor: pointer;
        }
      }
      .name-level {
        @include flex-center;
        flex-direction: column;
        .name {
          font-size: $font-14;
          color: $text-nav-color;
          font-weight: 500;

        }
        .level {
          display: flex;
          font-size: 12px;
          color: $icon-color;
          margin: 0.3rem 0 0 18px;
          font-weight: 500;

        }
      }
    }
    .range-wrapper {
      position: relative;
      .range {
        div {
          position: relative;
          width: 200px;
          height: 2px;
          margin-top: 30px;
          background-color: rgb(224, 224, 224);
          &::before {
            content: "";
            position: absolute;
            top: 0;
            height: 2px;
            right: 0;
            width: 50%;
            background-color: $green-color;
          }
          &::after {
            @include flex-center;
            content: "۲";
            position: absolute;
             top: -10px;
            height: 20px;
            font-size: 12px;
            width: 20px;
            border-radius: 5px;
            right: 25%;
            background-color: #8dc400;
            color: #fff;
          }
        }
      }
      .r1 {
        width: 8px;
        height: 8px;
        margin-top: -5px;
        border-radius: 2px;
        background-color: $green-color;
      }
      .r2 {
        width: 8px;
        height: 8px;
        position: absolute;
        top: -4px;
        right: 132px;
        border-radius: 2px;
        background-color: #e0e0e0;
      }
      .r3 {
        width: 8px;
        height: 8px;
        border-radius: 2px;
        position: absolute;
        margin-top: -13px;
        margin: -8px 93%;
        background-color: #e0e0e0;
      }
    }
  }
  .link-sidebar {
    ul {
      display: flex;
      flex-direction: column;
      li {
        margin-top: 25px;
        cursor: pointer;
        i,
        img {
          margin-right: 20px;
          color: #8f8f8f;
          font-size: 20px;
        }
        a {
          margin-right: 10px;
          color: $link-color;
          font-size: $font-14;
          font-weight: 500;
        }
      }
      .wallet-bag{
        img{
          vertical-align: middle;
        }
      }

      .question {
        img {
          vertical-align: middle;
        }
      }
      .wallet .icon {
        .icon {
          display: inline-block;
          width: 1em;
          height: 1em;
          stroke-width: 0;
          stroke: currentColor;
          fill: currentColor;
        }
        .icon-wallet {
          width: 1.1875em;
        }
      }
      .setting {
        img {
          vertical-align: middle;
        }
      }
      .active {
        background-color: $icon-color;
        padding: 10px 0;
        border-radius: 8px;
        a,
        i {
          color: white;
        }
      }
      :first-child {
        margin-top: 0;
        padding: 5px 0px;
        img{
          vertical-align: middle;
        }
      }
    }
    .exit {
      margin: 150px 18px 11px 0;
      cursor: pointer;
      color: $link-color;
      img {
        vertical-align: middle;
      }
    }
  }
}
