$primery-background-color: #F0F0F0;
$text-nav-color: #454545;
$link-color:  #707070;
$icon-color: #6d59df;
$range-color:#B0B0B0;
$green-color:#8DC400;
$blue-color:#5841DA;
$pink-color:#F069C2;
$yellow-color:#FACA21;
$title-color:#B0B0B0;
$font-14:14px;